{% extends 'template.html.twig' %}

{% block title %}Green Phoenix | Accueil{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid" id="wrapp">

        <!-- Page Heading -->
        <div id="calendar" data-role="{{ role|join(',') }}" data-doctor-view="{{ doctorView }}">
        </div>

{#{{ dump (doctorView) }}#}
{#        {{ dump (role) }}#}
{#        {{ dump (user) }}#}
    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}


