{% extends 'base.html.twig' %}

{% block title %}Green Phoenix | Accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <!-- Begin Page Content -->


    <div class="container ">

        <div class=" row flex-column mt-5">
            <div class=" text-center mt-5 ">
                <h2> Veuillez rechercher un médecin</h2>
            </div>
        </div>
        <div class=" row justify-content-center mt-5 ">
            <div class="  col-6 mt-5">
                <form class="d-flex justify-content-center " role="search" class="mt-5 me-auto" action="{{ path('app_welcome_index') }}" method="POST">
                    <input class="form-control me-2" type="search" id="doctor_search" name="doctor_search" value="" placeholder="Rechercher un médecin" aria-label="Search">
                    <button class="btn btn-outline-success mx-2" name="submit" type="submit">Rechercher </button>
                </form>
            </div>

            {% if medecins is defined %}
            {% if medecins | length > 0 %}
            <div class="col-8 ">
                <div id="results" class=" mt-5 text-center ">
                    <H5 id="nbr" class="mb-3 ">
                        {{ medecins|length}} résultat{{ medecins |length >1 ? 's':'' }} trouvé{{ medecins |length >1 ? 's':'' }}
                    </H5>
                </div>

                <ul>
                    {% for medecin in medecins %}

                        {% if not app.user %}
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td>{{ medecin.lastName | capitalize }}</td>
                                    <td>{{ medecin.firstName |capitalize }}</td>
                                    <td><a href="{{ path('app_login', {'redirect' : path('app_doctors')}) }}" type="button" class="btn btn-success mx-5">Prendre RDV</a></td>
                                </tr>

                                </tbody>
                            </table>
{#                     <a href="{{ path('app_login', {'redirect': path('app_doctors',{'id':medecin.id})}) }}" type="button" class="btn btn-success mx-5">Prendre RDV</a>#}
                        {% else %}
                            {{ medecin.firstName }} {{ medecin.lastName }}
                            <a href="{{ path('app_doctors', {'id':medecin.id}) }}" type="button" class="btn btn-success mx-5">Prendre RDV</a>
                        {% endif %}
                    {%endfor %}
                </ul>

                {% else %}
                    <div class="col-10">
                        <div id="results" class=" mt-5 ">
                            <H5 id="nbr" class="mb-3">Acun résultat trouvé</H5>
                        </div>
                    </div>
                {% endif %}
                {% endif %}
            </div>


        </div>





        <!-- Page Heading -->



    </div>
    <!-- /.container-fluid -->
    <div id="cookie-banner" class="cookie-banner alert alert-info alert-dismissible fixed-bottom fade show text-center" role="alert">
        <p>Ce site utilise des cookies. En poursuivant votre navigation, vous acceptez notre <a href="#" class="cookies-policy-link" data-toggle="modal" data-target="#cookieModal"><strong>Politique de gestion des cookies</strong> </a>.</p>
        <button id="cookie-accept" class="cookie-accept btn btn-success">J'accepte</button>
        <button type="button" id="cookie-accept" class="close" data-dismiss="alert" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-lg  modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cookieModalLabel">Politique de gestion des cookies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Politique de Cookies</h4>
                    <p>
                        Cette politique de cookies explique comment notre site utilise des cookies et d'autres technologies similaires pour vous offrir une meilleure expérience de navigation. En utilisant notre site, vous consentez à l'utilisation de cookies conformément à cette politique.
                    </p>

                    <h4>1. Qu'est-ce qu'un cookie ?</h4>
                    <p>
                        Un cookie est un petit fichier texte stocké sur votre appareil lorsque vous visitez un site web. Il permet au site de mémoriser vos actions et préférences (telles que la connexion, la langue, la taille de la police et d'autres préférences d'affichage) sur une période de temps afin que vous n'ayez pas à les saisir à chaque fois que vous revenez sur le site ou naviguez d'une page à une autre.
                    </p>
                    <h4>2. Types de cookies utilisés</h4>
                    <p>
                        Nous utilisons les types de cookies suivants sur notre site :
                    </p>
                    <ul>
                        <li>Cookies de session</li>
{#                        <li>Cookies persistants</li>#}
{#                        <li>Cookies analytiques</li>#}
{#                        <li>Cookies de marketing</li>#}
                    </ul>
                    <h4>3. Gestion des cookies</h4>
                    <p>
                        Vous pouvez gérer vos préférences en matière de cookies en ajustant les paramètres de votre navigateur pour accepter ou refuser les cookies. Veuillez noter que le refus des cookies peut affecter votre expérience sur notre site et limiter certaines fonctionnalités.
                    </p>
                    <h4>4. Cookies tiers</h4>
                    <p>
                        Nous pouvons autoriser des tiers, tels que des fournisseurs de services et des annonceurs, à placer des cookies sur notre site pour diverses finalités. Ces tiers peuvent collecter des informations sur votre utilisation de notre site et d'autres sites web, afin de vous fournir des publicités ciblées en fonction de vos intérêts.
                    </p>
                    <h4>5. Mises à jour de la politique de cookies</h4>
                    <p>
                        Nous pouvons mettre à jour cette politique de cookies de temps en temps pour refléter les changements dans nos pratiques en matière de cookies. Nous vous encourageons à consulter régulièrement cette page pour obtenir les informations les plus récentes sur notre utilisation des cookies.
                    </p>
                    <h4>6. Nous contacter</h4>
                    <p>
                        Si vous avez des questions ou des préoccupations concernant notre utilisation des cookies, veuillez nous contacter à [<strong>contact@green-phoenix.fr</strong>].
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- End of Main Content -->
{% endblock %}

