{% extends 'base.html.twig' %}

{% block title %}Green Phoenix | Accueil{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container" >

        <!-- Page Heading -->
{#        <div id="calendar" data-role="{{ role|join(',')}}" data-doctor-view="{{ doctorView }}">#}

{#        </div>#}
        {% if events is not empty %}
            <h3 class="text-center mt-5">Mes Rendez-vous</h3>
            <div class="card-deck " id="event-card">
                {% for event in events %}
                    <div class="card mt-5 mx-auto">
{#                        {% if event.picture is defined %}#}
{#                            <img src="{{ event.picture }}" class="card-img-top" alt="Image de profil">#}
{#                        {% endif %}#}
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            {% set dateComponents = event.dateString |split('T') %}
                            <p class="card-text">Date: {{ dateComponents[0] | date('d/m/Y')}}</p>
                            <p class="card-text">Heure: {{ dateComponents[1] }}</p>
                            <p class="card-text">Adresse : 2 place Homme de Fer - 67200 Strasbourg</p>

                        </div>
                        <div class="card-footer d-flex ">
                            <a href="#" class="btn btn-primary mx-1" data-toggle ="modal" data-target="#modifyEventModal" >Modifier le Rdv</a>
                            <a href="#" class="btn btn-danger">Supprimer le RDV</a>
                            <a href="#" class="btn btn-secondary ml-auto ">Voir la carte</a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun événement trouvé.</p>
        {% endif %}


    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Modal modify Event  -->
    <div class="modal fade" id="modifyEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modifyModalContent">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Modifier le Rdv</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newEventForm">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control"  name="date">
                        </div>
                        <div class="form-group">
                            <label for="heure">Heure</label>
                            <input type="time" class="form-control" name="hours">
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

